{% extends 'base.html.twig' %}

{% block title %}Pronostique Manager | BasketNPronos{% endblock %}

{% block body %}
    <h2 class="text-center mb-4">Gérer mes pronostiques</h2>

    {% include "admin/_menu.html.twig" %}

    {% if pronostiques is not empty %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Titre</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Resultat</th>
                    <th scope="col">Date</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for pronostic in pronostiques %}
                    <tr>
                        <th scope="row" class="align-middle">{{ pronostic.title }}</th>
                        <th scope="row" class="align-middle">
                            {% if pronostic.category == "F" %}
                                <span class="badge badge-info">Fiable</span>
                            {% endif %}
                            {% if pronostic.category == "NF" %}
                                <span class="badge badge-info">Fun</span>
                            {% endif %}
                        </th>
                        <td class="align-middle">
                            {% if pronostic.result == "ND" %}
                                <span class="badge badge-warning">Non définie</span>
                            {% endif %}
                            {% if pronostic.result == "G" %}
                                <span class="badge badge-success">Gagné</span>
                            {% endif %}
                            {% if pronostic.result == "P" %}
                                <span class="badge badge-danger">Perdu</span>
                            {% endif %}
                        </td>
                        <th scope="row" class="align-middle">{{ pronostic.createAt }}</th>
                        <td>
                            <div class="d-flex flex-column flex-md-row">
                                <a href="{{ path('pronostic_edit', {'id': pronostic.id}) }}" class="btn btn-warning mr-2 mb-2">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-center d-flex justify-content-center">
            {{ knp_pagination_render(pronostiques) }}
        </div>
    {% else %}
        <div class="text-center my-4 border p-4 text-muted">
            Aucun pronostique à gérer
        </div>
    {% endif %}
{% endblock %}