{% extends 'base.html.twig' %}

{% block title %}Modifier l'accueil | BissoNico{% endblock %}

{% block body %}
    <h2 class="text-center mb-4">Modifier l'accueil</h2>

    {% include "admin/_menu.html.twig" %}

    Taux de réussite actuel :
{% endblock %}