{% extends 'base.html.twig' %}

{% block title %}Modifier les performances | BasketNPronos{% endblock %}

{% block body %}
    <h2 class="text-center mb-4">Modifier les performances</h2>

    {% include "admin/_menu.html.twig" %}

    Taux de réussite actuel :
{% endblock %}