{% extends 'base.html.twig' %}

{% block title %}Modifier la galerie | BasketNPronos{% endblock %}

{% block body %}
    <h1>Modifier la galerie</h1>

    {{ include('gallery/_form.html.twig', {'button_label': 'Update'}) }}

    {# {{ include('gallery/_delete_form.html.twig') }} #}
{% endblock %}
