<section class="my-4">
    <p class="lead">
        Voici un aperçu de mon site basé uniquement sur le basket. Ne vous attendez pas à ce que votre vie change
        du jour au lendemain juste avec des paris comme montrent certains influenceurs.<br>
        Selon des sondages, seulement 1 à 2% des parieurs vivent essentiellement grâce à leurs gains !<br>
        Mon but est de vous aider à arrondir vos salaires ou à générer de l'argent pour d'autres. Bien-sûr, cela dependra
        de vos mises et de jouer sur la bonne dynamique des résultats.
    </p>
    <p class="lead my-2">
        Attention l'aspect psychologique est très important ! À vous de rester lucide dans les bons comme dans les 
        mauvais moments.
    </p>
    <p class="text-center lead my-4">
        <i class="fas fa-exclamation-triangle"></i> LES TARIFS SONT IMBATTABLES, A MOINS DE 10€ LE MOIS
        <span class="text-warning"> BASKETNPRONOS</span> VOUS PROUVES QUE LE JEU RESTE TOUT D'ABORD UNE PASSION 
        AVEC À LA CLÉ.... UN JOLIE BÉNÉFICE ! <i class="fas fa-exclamation-triangle"></i>
    </p>
    <div class="my-4 border text-center p-3">
        <p class="lead">
            Un fois les pronostics acquis vous pourrez également jouer en ligne grâce à nos partenaires : 
        </p>
        <!-- START ADVERTISER: from tradedoubler.com -->
        <script type="text/javascript">
        var uri = 'https://impfr.tradedoubler.com/imp?type(img)g(23270232)a(3215557)' + new String (Math.random()).substring (2, 11);
        document.write('<a href="https://clk.tradedoubler.com/click?p=239240&a=3215557&g=23270232" target="_BLANK"><img src="'+uri+'" border=0 alt="FDJ Affiliation"></a>');
        </script>
        <!-- END ADVERTISER: from tradedoubler.com -->
        <p class="lead my-2">Autant vous dire que ça part de là !</p>
        <h5>Faites vos jeux !!!</h5>
    </div>
</section>