<section class="my-4">
    <p class="lead">
        Voici un aperçu de mon site basé uniquement sur le basket. Ne vous attendez pas à ce que votre vie change
        du jour au lendemain juste avec des paris comme montrent certains influenceurs.<br>
        Selon des sondages, seulement 1 à 2% des parieurs vivent essentiellement grâce à leurs gains !<br>
        Mon but est de vous aider à arrondir vos salaires ou à générer de l'argent pour d'autres. Bien-sûr, cela dependra
        de vos mises et de jouer sur la bonne dynamique des résultats.
    </p>
    <p class="lead my-2">
        Attention l'aspect psychologique est très important ! À vous de rester lucide dans les bons comme dans les 
        mauvais moments.
    </p>
    <p class="text-center lead my-4">
        <i class="fas fa-exclamation-triangle"></i> LES TARIFS SONT IMBATTABLES, A MOINS DE 10€ LE MOIS
        <span class="text-warning"> BASKETNPRONOS</span> VOUS PROUVES QUE LE JEU RESTE TOUT D'ABORD UNE PASSION 
        AVEC À LA CLÉ.... UN JOLIE BÉNÉFICE ! <i class="fas fa-exclamation-triangle"></i>
    </p>
    <div class="my-4 border text-center p-3">
        <p class="lead">
            Un fois les pronostics acquis vous pourrez également jouer en ligne grâce à nos partenaires : 
        </p>
        <h5>FDJ - Bonus 100€ offerts sur votre 1er paris !</h5>
        <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/2/2a/Logo_de_la_Fran%C3%A7aise_des_jeux.svg/1200px-Logo_de_la_Fran%C3%A7aise_des_jeux.svg.png" class="img-fluid" width="200" height="100" alt="fdj">
        <p class="lead">Autant vous dire que ça part de là !</p>
        <br>
        <br>
        <h5>Faites vos jeux !!!</h5>
    </div>
</section>