{% extends 'base.html.twig' %}

{% block title %}Communauté | BasketNPronos{% endblock %}

{% block body %}
    <h2 class="text-center my-4">Communauté</h2>
    <div class="row">
        <div class="col-sm">
            <h4 class="text-center">Galerie</h4>
            <div class="text-center my-4 border p-4 text-muted">
                Aucun mouvement de la communauté disponible
            </div>
        </div>
        <div class="col-sm">
            <h4 class="text-center">Avis</h4>
            <div class="text-center my-4 border p-4 text-muted">
                Aucun mouvement de la communauté disponible
            </div>
        </div>
    </div>
{% endblock %}
