<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <div class="container d-flex flex-column justify-content-between p-4 flex-md-row">
    <section class="mb-4 text-center">
      <h3 class="text-white">Basket<span class="text-warning">N</span>Pronos</h3>
      <h6 class="text-white mb-4">Pronostiqueur professionnel de basket</h6>
      <div class="d-flex flex-column text-left text-white mt-4">
        <span class="mb-2 text-white"><i class="fas fa-phone"></i> 06 06 06 06 06</span>
        <span class="mb-2">
          <a href="mailto:contact@bissonico.fr" class="text-decoration-none text-white">
            <i class="fas fa-envelope"></i> contact@basketnpronos.fr</a>
        </span>
        <span class="mb-2"><i class="fab fa-snapchat-ghost"></i> bissonico</span>
        <span class="mb-2"><i class="fab fa-instagram"></i> bissonico</span>
        <span class="mb-2">N° SIRET : eifhzoaiudhzaoi</span>
      </div>
    </section>
    <section class="mb-4 text-center">
      <h3 class="text-white">Parier !</h3>
      <div class="d-flex flex-column text-left text-white mt-4">
        <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/f/fe/Logo_Betclic_2019.svg/1200px-Logo_Betclic_2019.svg.png" class="img-fluid" width="200" height="100">
        <img src="https://www.pokerenligne.com//wp-content/uploads/FmyFGD79ca/2020/06/winamw-3.png" class="img-fluid" width="200" height="100">
        <img src="https://www.jouerenlignefr.org/sites/default/files/unibet-logo.png" class="img-fluid" width="200" height="100">
      </div>
    </section>
  </div>
  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
    Copyright © 2021 - BasketNPronos | 
    <a class="text-secondary text-decoration-none" href="https://enzocandotti.fr/" target="_blank">Created by Enzo Candotti</a>
  </div>
</footer>
<!-- Footer -->