<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <div class="container d-flex flex-column justify-content-between p-4 flex-md-row">
    <section class="mb-4 text-center">
      <h3 class="text-white">Basket<span class="text-warning">N</span>Pronos</h3>
      <h6 class="text-white mb-4">Pronostiqueur de basket</h6>
      <div class="d-flex flex-column text-left text-white mt-4">
        <span class="mb-2">
          <a href="mailto:contact@bissonico.fr" class="text-decoration-none text-white">
            <i class="fas fa-envelope"></i> contact@basketnpronos.fr</a>
        </span>
        <span class="mb-2"><i class="fab fa-snapchat-ghost"></i> bissonico13</span>
        <span class="mb-2"><i class="fab fa-instagram"></i> basketnpronos</span>
        <span class="mb-2"><a href="" class="text-decoration-none text-white">N° SIRET : 894 976 372 00017</a></span>
      </div>
    </section>
    <section class="mb-4 text-center">
      <h3 class="text-white">Parier !</h3>
      <div class="d-flex flex-column justify-content-center mt-4">
        <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/f/fe/Logo_Betclic_2019.svg/1200px-Logo_Betclic_2019.svg.png" class="img-fluid" width="200" height="100" alt="betclic">
        <img src="https://www.pokerenligne.com//wp-content/uploads/FmyFGD79ca/2020/06/winamw-3.png" class="img-fluid" width="200" height="100" alt="winamax">
        <img src="https://www.jouerenlignefr.org/sites/default/files/unibet-logo.png" class="img-fluid" width="200" height="100" alt="unibet">
      </div>
    </section>
  </div>
  <div class="my-2">
    Plateforme de paiement sécurisé par
    <h1 class="text-white"><i class="fab fa-cc-paypal"></i> <i class="far fa-credit-card"></i></h1>
  </div>
  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
    Copyright © 2021 - BasketNPronos | 
    <a class="text-secondary text-decoration-none" href="https://enzocandotti.fr/" target="_blank" rel="noopener">Created by Enzo Candotti</a>
  </div>
</footer>
<!-- Footer -->