{% extends 'base.html.twig' %}

{% block title %}Mentions Légales | BasketNPronos{% endblock %}

{% block body %}
    <div>
        <h4>Identité</h4>
        <p>
            Nom du site web : basketnpronos<br>
            Adresse : https://www.basketnpronos.fr<br>
            Propriétaire : Nicolas Desormeaux<br>
            Responsable de publication : Nicolas Desormeaux<br><br>

            Conception et réalisation : Enzo Candotti<br>
            Hébergement : IONOS by 1and1<br><br>

            Status social de basketnpronos : Auto-entrepreneur<br>
            Contact : contact@basketnpronos.fr<br>
        </p>

        <h4>Conditions d’utilisation</h4>
        <p>
            L’utilisation du présent site implique l’acceptation pleine et entière des conditions générales d’utilisation décrites ci-après. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment.
        </p>

        <h4>Informations</h4>
        <p>
            Les informations et documents du site sont présentés à titre indicatif, n’ont pas de caractère exhaustif, et ne peuvent engager la responsabilité du propriétaire du site.<br>
            Le propriétaire du site ne peut être tenu responsable des dommages directs et indirects consécutifs à l’accès au site.<br>
        </p>

        <h4>Interactivité</h4>
        <p>
            Les utilisateurs du site peuvent y déposer du contenu, apparaissant sur le site dans des espaces dédiés (notamment via les commentaires). Le contenu déposé reste sous la responsabilité de leurs auteurs, qui en assument pleinement l’entière responsabilité juridique.<br>
            Le propriétaire du site se réserve néanmoins le droit de retirer sans préavis et sans justification tout contenu déposé par les utilisateurs qui ne satisferait pas à la charte déontologique du site ou à la législation en vigueur.<br>
        </p>

        <h4>Cookies</h4>
        <p>
            Le site www.basketnpronos.fr peut-être amené à vous demander l’acceptation des cookies pour des besoins de statistiques et d’affichage. Un cookie est une information déposée sur votre disque dur par le serveur du site que vous visitez.
            Il contient plusieurs données qui sont stockées sur votre ordinateur dans un simple fichier texte auquel un serveur accède pour lire et enregistrer des informations . Certaines parties de ce site ne peuvent être fonctionnelles sans l’acceptation de cookies.
        </p>
        
        <h4>Propriété intellectuelle</h4>
        <p>
            Sauf mention contraire, tous les éléments accessibles sur le site (textes, images, graphismes, logo, icônes, sons, logiciels, etc.) restent la propriété exclusive de leurs auteurs, en ce qui concerne les droits de propriété intellectuelle ou les droits d’usage. 1<br>
            Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de l’auteur.23<br>
            Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient est considérée comme constitutive d’une contrefaçon et poursuivie. 4<br>
            Les marques et logos reproduits sur le site sont déposés par les sociétés qui en sont propriétaires.<br>
        </p>

        <h4>Liens</h4>
        <p>
            <b>Liens sortants</b><br>
            Le propriétaire du site décline toute responsabilité et n’est pas engagé par le référencement via des liens hypertextes, de ressources tierces présentes sur le réseau Internet, tant en ce qui concerne leur contenu que leur pertinence.<br><br>

            <b>Liens entrants</b><br><br>
            Le propriétaire du site autorise les liens hypertextes vers l’une des pages de ce site, à condition que ceux-ci ouvrent une nouvelle fenêtre et soient présentés de manière non équivoque afin d’éviter :<br>
            tout risque de confusion entre le site citant et le propriétaire du siteainsi que toute présentation tendancieuse, ou contraire aux lois en vigueur.<br>
            Le propriétaire du site se réserve le droit de demander la suppression d’un lien s’il estime que le site source ne respecte pas les règles ainsi définies.<br>
        </p>

        <h4>Confidentialité</h4>
        <p>
            Cependant, ce principe comporte certaines exceptions. En effet, pour certains services proposés par notre site, vous pouvez être amenés à nous communiquer certaines données telles que : 
            votre adresse électronique. Tel est le cas lorsque vous remplissez le formulaire d'inscription sur notre site basketnpronos.fr qui vous est proposé en ligne.
            Le site basketnpronos.fr n'est pas inscrit au registre du CNIL.
        </p>
    </div>
{% endblock %}