{% extends 'base.html.twig' %}

{% block title %}Modifier le pronostique | BasketNPronos{% endblock %}

{% block body %}
    <h1>Modifier le pronostique</h1>

    {{ include('pronostic/_form.html.twig', {'button_label': 'Update'}) }}

    {# {{ include('pronostic/_delete_form.html.twig') }} #}
{% endblock %}
