{% extends 'base.html.twig' %}

{% block title %}Créer un pronostique | BasketNPronos{% endblock %}

{% block body %}
    <h1 class="text-center">Créer un pronostique</h1>

    {{ include('pronostic/_form.html.twig') }}
{% endblock %}
